{:deps    {
           ch.qos.logback/logback-classic        {:mvn/version "1.2.7"}
           cljs-ajax/cljs-ajax                   {:mvn/version "0.8.4"}
           clojure.java-time/clojure.java-time   {:mvn/version "0.3.3"}
           com.cognitect/transit-clj             {:mvn/version "1.0.324"}
           com.cognitect/transit-cljs            {:mvn/version "0.8.269"}
           com.taoensso/timbre                   {:mvn/version "5.1.2"}
           cprop/cprop                           {:mvn/version "0.1.19"}
           day8.re-frame/http-fx                 {:mvn/version "0.2.3"}
           expound/expound                       {:mvn/version "0.8.10"}
           funcool/struct                        {:mvn/version "1.4.0"}
           json-html/json-html                   {:mvn/version "0.4.7"}
           luminus-transit/luminus-transit       {:mvn/version "0.1.2"}
           luminus-undertow/luminus-undertow     {:mvn/version "0.1.12"}
           luminus/ring-ttl-session              {:mvn/version "0.3.3"}
           markdown-clj/markdown-clj             {:mvn/version "1.10.7"}
           metosin/muuntaja                      {:mvn/version "0.6.8"}
           metosin/reitit                        {:mvn/version "0.5.15"}
           metosin/ring-http-response            {:mvn/version "0.9.3"}
           mount/mount                           {:mvn/version "0.1.16"}
           ;net.clojars.mokr/plug-sso             {:mvn/version "0.1.0-SNAPSHOT"}
           ;net.clojars.mokr/plug-fetch           {:mvn/version "0.1.0-SNAPSHOT"}
           net.clojars.mokr/plug-utils           {:local/root "../plug-utils"}
           net.clojars.mokr/plug-link            {:local/root "../plug-link"}
           net.clojars.mokr/plug-pagination      {:local/root "../plug-pagination"}
           nrepl/nrepl                           {:mvn/version "0.8.3"}
           org.clojure/clojure                   {:mvn/version "1.10.3"}
           org.clojure/clojurescript             {:mvn/version "1.10.891"} ; :scope "provided"
           org.clojure/core.async                {:mvn/version "1.4.627"}
           org.clojure/tools.cli                 {:mvn/version "1.0.206"}
           org.clojure/tools.logging             {:mvn/version "1.1.0"}
           org.webjars.npm/bulma                 {:mvn/version "0.9.3"}
           org.webjars.npm/material-icons        {:mvn/version "1.7.1"}
           org.webjars/webjars-locator           {:mvn/version "0.42"}
           org.webjars/webjars-locator-jboss-vfs {:mvn/version "0.1.0"}
           re-frame/re-frame                     {:mvn/version "1.2.0"}
           reagent/reagent                       {:mvn/version "1.1.0"}
           ring-webjars/ring-webjars             {:mvn/version "0.2.0"}
           ring/ring-core                        {:mvn/version "1.9.4"}
           ring/ring-defaults                    {:mvn/version "0.3.3"}
           selmer/selmer                         {:mvn/version "1.12.44"}
           thheller/shadow-cljs                  {:mvn/version "2.16.5"} ; :scope "provided"
           }
 :paths   ["src/clj" "src/cljs" "src/cljc" "resources"]
 ;:jvm-opts  ["-server"]
 ;:main-opts ["-m" "dev-plug.core"]
 :aliases {:dev  {:extra-paths ["env/dev/clj" "env/dev/resources" "target/cljsbuild"]
                  :jvm-opts    ["-Dconf=dev-config.edn"]
                  ;:jvm-opts      ["-server"]
                  ;:main-opts   []
                  :main-opts   ["-m" "dev-plug.core"]
                  :extra-deps  {
                                cider/piggieback            {:mvn/version "0.5.3"}
                                org.clojure/tools.namespace {:mvn/version "1.1.0"}
                                ;;  pjstadig/humane-test-output {:mvn/version "0.11.0"}
                                prone/prone                 {:mvn/version "2021-04-23"}
                                ring/ring-devel             {:mvn/version "1.9.4"}
                                ring/ring-mock              {:mvn/version "0.4.0"}}}

           :cljs {:extra-paths ["env/dev/cljs"]
                  :extra-deps  {binaryage/devtools {:mvn/version "1.0.4"}
                                re-frisk/re-frisk  {:mvn/version "1.5.2"}}}
           }
 }